/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font: normal 400 16px/1.2 "PT Sans", "Calibri", sans-serif;
  color: #313841;

  background-color: #ffffff;
}

.page-inner {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.input-reset {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;
}

.btn-reset {
  padding: 0;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}


/* HEADER
====================================================================== */

.page-header {
  padding: 60px 0;

  background-color: #fcdb00;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  padding-left: 8px;
}

.site-nav__btn.nojs {
  visibility: hidden;
}

.site-nav__btn {
  position: relative;

  width: 18px;
  height: 16px;

  -webkit-box-shadow: inset 0 4px 0 0 #000000;
          box-shadow: inset 0 4px 0 0 #000000;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.site-nav__btn::before,
.site-nav__btn::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 4px;
  margin-top: 6px;

  background-color: #000000;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.site-nav__btn::after {
  margin-top: 12px;
}

.site-nav__btn--close {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-nav__btn--close::before,
.site-nav__btn--close::after {
  width: 20px;

  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-nav__btn--close::after {
  margin-top: 6px;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.site-nav__list {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
  margin: 12px 0 0;
  padding: 0;

  list-style: none;
}

.site-nav__list.nojs,
.site-nav__list--opened{
  display: block;
}

.site-nav__list--opened {
  left: 40px;
}

.site-nav__item:not(:first-child) {
  margin-top: 8px;
}

.site-nav__link {
  font-weight: 700;
  font-size: 22px;
  color: #010101;
}

.site-nav__link:hover,
.site-nav__link:focus {
  text-decoration: underline;
}

.site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-weight: 700;
  font-size: 30px;
  color: #010101;
}

.site-logo__img {
  margin-right: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 0 auto;
  padding: 0;

  list-style: none;
}

.social__item:not(:first-child) {
  margin-left: 22px;
}

.social__link {
  display: block;
  height: 20px;
}


/* CONTENT
====================================================================== */

/* Slider
================================================== */

.slider {
  padding: 0 0 50px;

  background-color: #fcdb00;
}

.slide {
  margin: 0 90px;
  padding: 150px 0;

  text-align: center;
}

.slide__title {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #010101;
}

.slide__text {
  margin: 24px 0 0;

  font-size: 20px;
}

.slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px auto 0;
  padding: 0;

  list-style: none;
}

.slide__item:not(:first-child) {
  margin-left: 36px;
}

.slide__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;

  border: 2px solid #000000;
  border-radius: 50%;
}

/* toggle
=================================== */

.slider__toggle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider__toggle-item:not(:first-child) {
  margin-left: 7px;
}

.slider__select {
  display: block;
  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;
}

.slider__select--active {
  opacity: 1;

  cursor: default;
}

/* Features
================================================== */

.features {
  margin-top: 110px;
}

.features__title {
  margin: 0 90px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color:#010101;
  text-align: center;
}

.features__text {
  margin: 15px 90px 0;

  font-size: 20px;
  text-align: center;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-height: 470px;
  margin: 60px 0 0;
  padding: 60px 0;

  background: url("../img/iPad-mini.png") 50% 0 no-repeat;

  list-style: none;
}

.features__item {
  width: 50%;
}

.features__item:not(:nth-child(-n+2)) {
  margin-top: 85px;
}

.features__item:nth-child(2n+1) {
  padding-left: 10px;
  padding-right: 240px;
}

.features__item:nth-child(2n) {
  padding-right: 10px;
  padding-left: 240px
}

.features__item-title {
  margin: 0;

  font-size: 22px;
  line-height: 1.1;
  color: #010101;
}

.features__item-text {
  margin: 12px 0 0;

  color: #898989;
}


/* FOOTER
====================================================================== */

.page-footer {
  margin-top: 95px;
  padding: 95px 0 0;

  background-color: #010101;
}

/* Touch
================================================== */

.touch {
  margin: 0 90px;
}

.touch__title {
  margin: 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #fcdb00;
  text-align: center;
}

.touch__text {
  margin: 15px 0 0;

  font-size: 20px;
  color: #898989;
  text-align: center;
}

.touch__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 15px 0;
}

.touch__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 23px;

  background-color: #ffffff;
  border-radius: 4px;
}

.touch__input::-webkit-input-placeholder {
  font:inherit;
  color: #898989;
}

.touch__input:-ms-input-placeholder {
  font:inherit;
  color: #898989;
}

.touch__input::-ms-input-placeholder {
  font:inherit;
  color: #898989;
}

.touch__input::placeholder {
  font:inherit;
  color: #898989;
}

.touch__btn {
  margin-left: 20px;
  padding: 15px 38px;

  font-weight: 700;
  text-transform: uppercase;
  color: #010101;

  background-color: #fcdb00;
  border-radius: 4px;

  cursor: pointer;
}

/* Address, site navigation
================================================== */

.page-footer__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 110px 0 160px;
}

.address {
  margin-left: 15px;

  font-style: normal;
  color: #ffffff;
}

.address__link {
  display: block;
  margin-top: 4px;

  color: #ffffff;
}

.address__link:hover,
.address__link:focus {
  text-decoration: underline;
}

.site-nav-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav-add__list {
  width: 140px;
  margin: 0 0 0 20px;
  padding: 0;

  list-style: none;
}

.site-nav-add__link {
  color: #ffffff;
}

.site-nav-add__link:hover,
.site-nav-add__link:focus {
  text-decoration: underline;
}
